@red: #b82934;

@navbar-border-radius: 0;

@navbar-default-color: white;
@navbar-default-bg: @red;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);


// Navbar links
@navbar-default-link-color:                white;
@navbar-default-link-hover-color:          white;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         darken(white, 6.5%);
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);