.home
  .container
    h1 Kickstart your Angular JS apps with a solid foundation.

    .btn-group
      a(href='https://github.com/samora/ng-launchpad').btn.btn-default.btn-lg View Source
      a(href='https://github.com/samora/ng-launchpad/archive/master.zip').btn.btn-primary.btn-lg Download

  .launchpad-graphic
    img.img-responsive.center-block(src='img/rocket.png', alt='rocket')


  .container
    .col-sm-4
      p
        h2 Features

        ul
          li Modular Angular JS application structure.
          li Minify, compress & package your files for production.
          li Development server with livereload.
          li Automate your tests.

    .col-sm-4
      p
        h2 Components

        ul
          li: a(href='http://angularjs.org') Angular JS
          li: a(href='https://github.com/angular-ui/ui-router') UI Router
          li: a(href='http://getbootstrap.com') Bootstrap
          li: a(href='http://angular-ui.github.io/bootstrap') UI Bootstrap
          li: a(href='http://fontawesome.io') Font Awesome

    .col-sm-4
      p
        h2 Languages

        ul
          li JavaScript
          li: a(href='http://jade-lang.com') Jade
          li: a(href='http://lesscss.org') Less